---
title: "Contact Us"
date: 2020-01-09T09:07:44+09:00
draft: false
---
<section class="page article">
    <h1 class="article-title">Get In Touch</h1>
    <figure class="fig">
        <img src="/images/contact.jpg" alt="A business man using a touchscreen interface.">
    </figure>
    <div class="bd">
        <p>
            You can reach us by using the form below, sending an email directly to <a href="mailto:newservice@blackfiresec.com">newservice@blackfiresec.com</a>, or by giving us a call at +1 502 694 6185.
        </p>
        <form action="https://formaholic.com/f/e4b6b5c6e85d18db" method="POST" accept-charset="UTF-8">
            <label for="name" autocorrect="off">Name</label>
            <input type="text" name="name" placeholder="Name">

            <label for="email">Email Address</label>
            <input type="email" name="email" placeholder="Email Address">

            <label for="message">Message</label>
            <textarea name="message" placeholder="Message"></textarea>
            <input type="submit" value="Send">
        </form>
    </div>
</section>
