---
title: "Partners"
date: 2020-01-09T09:07:37+09:00
draft: false
---
<section class="page article-partners">
    <h1 class="article-title">Partners</h1>
    <div class="bd">
        <div class="article-partners-images">
            <a href="https://sophos.com"><img src="/images/sophoslabs_rgb.png" style="max-width:10rem; max-height: 10rem;" alt="Cybersecurity Evolved"></a>
            <a href="https://carbonblack.com"><img src="/images/carbonblack.png" style="max-width:10rem; max-height: 10rem;" alt="Next-Gen AV That Stops All Attacks"></a>
            <a href="https://veracode.com"><img src="/images/veracode.png" style="max-width:10rem; max-height: 10rem;" alt="Application Development Security"></a>
        </div>
        <p>
            You can tell a lot about a consulting firm by the partnerships they keep. At BlackFire, 
            we pride ourselves on maintaining partnerships with only the best vendors to provide 
            you with the most secure products possible.
        </p>
        <p>
            Our partnerships with vendors like Carbon Black, Sophos Labs, Veracode, and Checkpoint allow us to
            provide unparalleled network, endpoint, and codebase security, not to mention managed services.
        </p> 
        <p>
            Contact us today to see how BlackFire Security can cover your assets, and keep your small, medium, or 
            enterprise sized business safe from cybercriminals.
        </p>
        
    </div>
</section>
