---
title: "Thank You"
date: 2020-01-09T09:07:37+09:00
draft: false
---
<section class="page article">
    <h1 class="article-title">Thank You</h1>
    <figure class="fig">
        <img src="/images/lock.jpg" alt="A hand grasping a digital lock.">
    </figure>
    <div class="bd">
        <p>
            Thank you for reaching out to us. A BlackFire representative will be in contact with you shortly. 
        </p>
    </div>
</section>