---
title: "What We Do"
date: 2020-01-09T09:07:28+09:00
draft: false
---
<section class="page article">
    <h1 class="article-title">What We Do</h1>
    <figure class="fig">
        <img src="/images/hand-lock.jpg" alt="hand with a digital lock hovering above.">
    </figure>
    <div class="bd">
        <p>
            Our most popular product is a vulnerability and penetration analysis in which 
            we will scan your assets for vulnerabilities, assess risk, attempt penetration 
            of vulnerable assets, and provide a report on the findings that prioritize 
            the top ten vulnerabilities found in order to simplify remediation efforts. 
            This report will also provide you comprehensive vulnerability findings if you 
            require a deep dive beyond the top ten findings.
        </p>     
        <p>
            Our penetration testing assessments offer a comprehensive yet ethical attempt 
            to gain access and privilege escalation on vulnerable machines in your organization. 
            These are done to provide evidence of weak points in your infrastructure so 
            that you may remediate issues.
        </p>   
        <p>
            We also specialize in Wi-Fi pentesting. Whether it's a cracked WPA2, or an 
            Evil Twin Attack, we'll find our way in and report on how we did it.
        </p>
    </div>
</section>