---
title: "Who We Are"
date: 2020-01-09T09:07:18+09:00
draft: false
---
<section class="page article">
    <h1 class="article-title">Who We Are</h1>
    <figure class="fig">
        <img src="/images/talk.jpg" alt="Two security engineers engaged in planning.">
    </figure>
    <div class="bd">
        <p>
            BlackFire Security is an international cybersecurity partner that provides 
            vulnerability and penetration assessment services, digital forensics 
            research, and remediation services. We partner with best-of-breed providers 
            such as Carbon Black, Veracode, Checkpoint, and Tenable to improve our client's 
            cybersecurity posture, thereby increasing their defense capabilities and 
            readiness.
        </p>
        <p>
            By utilizing industry leading vulnerability scanning solutions, endpoint protection 
            options, configuration management solutions, as well as network security appliances 
            and tools in a layered approach, we are able to consistently revise and improve 
            your infosec outcomes.
        </p>
    </div>
</section>