<!doctype html>
<html lang="en-US">
<head>
    {{ partial "head" . }}
</head>
<body>
<canvas id="canvas"></canvas>
<script src="/js/bg.js"></script>
<div class="wrapper">
<header>
    {{ partial "header" . }}
</header>
    {{ block "main" . }}{{ end }}
<footer>
    {{ partial "footer" . }}
</footer>
</div>
</body>
</html>