{{ define "main" }}
<section>
    <article class="page post-list">
        <h1 class="post-list-title">BlackFire News</h1>
        <div class="bd">
            <ul>
                {{ range .Pages }}
                <a href="{{.Permalink}}">
                    <div class="post-list-entry">
                        <li>
                            <p class="post-list-entry-title">{{.Title}}</p>
                            <p class="post-list-entry-date">{{.Date.Format "2006-01-02"}}</p>
                        </li>
                    </div>
                </a>
                {{ end }}
            </ul>
        </div>
    </article>
</section>
{{ end }}