{{ define "main" }}
<section>
    <article class="post article-post">
        <h1 class="post-title">{{ .Title }}</h1>
        <div class="bd">
            {{ .Content }}
        </div>
    </article>
</section>
{{ end }}