    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackFire Security - Cyber Security Partners</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='/images/favicon.ico' rel='icon' type='image/x-icon'>
    <link href='/images/apple-touch-icon.png' rel='apple-touch-icon'>
