    <div class="full-logo"><a href="/"><img src="/images/full-logo.png"></a></div>
    <div class="mobile-logo"><a href="/"><img src="/images/mobile-logo.png"></a></div>
    <nav>
        <label for="show-menu" class="show-menu">
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
        </label>
        <input type="checkbox" id="show-menu" role="button">
            <ul id="menu">
                <li><a href="/posts">News</a></li>
                <li><a href="/who-we-are">Who We Are</a></li>
                <li><a href="/what-we-do">What We Do</a></li>
                <li><a href="/partners">Partners</a></li>
                <li><a href="/contact-us">Get In Touch</a></li>
            </ul>
    </nav>