{{ define "main" }}
<section class="landing">
    <h1 class="landing-title">Your Cyber Security Partners</h1>
    <form action="/contact-us">
        <input type="submit" value="Contact Us Now" />
    </form>
    <div class="landing-card1">
        <a href="/vulnerability-assessments">
            <img src="/images/shutterstock_786886732.jpg" alt="A CPU with a melting shield." style="width:100%">
        </a>
        <div class="landing-container">
            <h4><b>Vulnerability Assessment</b></h4>
            <p>Knowledge is Power</p>
        </div>
    </div> 
    <div class="landing-card2">
        <a href="/penetration-testing">
            <img src="/images/lock.jpg" alt="A hand grasping a digital lock." style="width:100%">
        </a>
        <div class="landing-container">
            <h4><b>Penetration Testing</b></h4>
            <p>Test Your Stance</p>
        </div>
    </div> 
    <div class="landing-card3">
        <a href="/endpoint-defense">
            <img src="/images/cyber11.jpg" alt="A digital world map with shields." style="width:100%">
        </a>
        <div class="landing-container">
            <h4><b>Perimeter and Endpoint Defenses</b></h4>
            <p>Arm your Assets</p>
        </div>
    </div>
</section>
{{ end }}